<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log & Reg | Home</title>
</head>

<body>
    <h1>Registration</h1>
    {%for message in messages%}
    {{message}} <br>
    {%endfor%}
    <form action="/registerUser" method="post">
        {%csrf_token%}
        {{regForm.as_p}}
        <input type="submit" value="Register">
    </form>
    <hr>
    <h1>Login:</h1>
    <form action="/login" method="post">
        {%csrf_token%}
        {{loginForm.as_p}}
        <input type="submit" value="Login">
    </form>
    <hr>

    <table>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>birthday</th>
            <th>password</th>
        </thead>
        <tbody>
            {%for user in users%}
            <tr>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.birthday}}</td>
                <td>{{user.password}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</body>

</html>